@charset "utf-8";

/*共通事項
--------------------*/
html{
	font-size: 100%;
}
body{
	font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic medium", "Meiryo", sans-serif;
	color: #111;
	line-height: 1.8;
}
img{
	max-width: 100%;
	height: auto;
}
a{
	text-decoration: none;
	color: #000000;
	transition: 0.2s;
}
a:hover{
	opacity: 0.5;
	transition: 0.3s;
}

/*汎用block
-------------*/

.wrapper{
	width: 1024px;
	margin: 0 auto;
}



/*header
-------------*/
header{
    padding: 20px 0;
	display: flex;
}
header h1{
	width: 50%;
	
}
.main-nav ul{
	display: flex;
}
.main-nav ul li{
	margin-right: 30px;
}

.sns-nav ul{
	display: flex;
	width: 60%;
	padding-top: 10px;
}
.sns-nav ul li{
	margin-right: 10px;
}



/*main
---------------------*/
main{
	text-align: center;
}
h2{
	font-size: 30px;
	padding: 40px;
}
dl{
	display: flex;
}
dt{
	padding: 0 100px 20px 100px;
}
dd{
	text-align: left;
}
strong{
	font-weight: bold;
}
.more{
	text-align: right;
	text-decoration: underline;
	padding: 30px 0 20px 0;
}
button{
	background-color: white;
	border:2px solid;
	border-color: black;
	padding: 15px 60px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 30px 30px;
	cursor: pointer;
}



.menu ul{
	display: flex;
	padding-top: 20px;
	
}
.menu ul li{
	width: 80%;
	margin: 10px 30px;
}



/*footer
-----------------------*/

footer{
	text-align: center;
}
.footer-nav ul{
	display: flex;
	padding-left: 400px;
}
.footer-nav ul li{
	padding: 40px 20px;
}
.footer-logo{
	padding: 0 0 30px 0;
}
.pec{
	text-align: left;
	padding-left: 210px;
}
.copy{
	padding: 40px 0 20px 0;
}

